.location-container {
  background-color: #e5e5e5;
  padding-top: 20;
  padding-bottom: 20;
  height: 100;
}

.location-title {
  font-size: 20;
  margin-left: 20;
  color: #333;
}

.location-artist {
  font-size: 14;
  margin-left: 20;
  color: #999;
}

.location-activate {
  height: 100%;
  vertical-align: bottom;
}
